@import 'tailwindcss';

@custom-variant dark (&:is(.dark *));

@theme {
  --animate-overlay-show: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
  --animate-content-show: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);

  --text-2xs: 0.625rem;
  --text-2xs--line-height: 1rem;
  --text-3xs: 0.5rem;
  --text-3xs--line-height: 1rem;

  @keyframes overlayShow {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes contentShow {
    from {
      opacity: 0;
      transform: scale(0.96);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@layer components {
  .dcss-list-item {
    @apply -mx-1 flex justify-between px-1 transition-all odd:bg-white even:bg-gray-50 hover:rounded-sm hover:bg-amber-100 odd:dark:bg-zinc-900 even:dark:bg-zinc-800 dark:hover:bg-zinc-700;
  }
}
