name: 'dcss-api'

services:
  postgres:
    container_name: postgres16
    restart: no
    image: postgres:16
    ports:
      - '5432:5432'
    environment:
      - POSTGRES_PASSWORD=postgres
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U postgres']
      interval: 5s
      timeout: 5s
      retries: 5
    command:
      - 'postgres'
      - '-c'
      - 'random_page_cost=1.1'
      - '-c'
      - 'max_wal_size=8GB'
      - '-c'
      - 'min_wal_size=2GB'
      - '-c'
      - 'temp_file_limit=20GB'
      - '-c'
      - 'wal_buffers=16MB'
      - '-c'
      - 'effective_io_concurrency=200'
      - '-c'
      - 'bgwriter_delay=50ms'
      - '-c'
      - 'bgwriter_lru_maxpages=200'
      - '-c'
      - 'shared_buffers=1GB'
      - '-c'
      - 'work_mem=32MB'
      - '-c'
      - 'maintenance_work_mem=256MB'
      - '-c'
      - 'effective_cache_size=3GB'
      - '-c'
      - 'default_statistics_target=100'
      - '-c'
      - 'checkpoint_timeout=15min'
      - '-c'
      - 'checkpoint_completion_target=0.9'

  prometheus:
    image: prom/prometheus:v3.6.0
    restart: no
    profiles:
      - metrics
    ports:
      - '9090:9090'
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml:ro
    extra_hosts:
      - 'host.docker.internal:host-gateway'
    depends_on:
      - node_exporter

  node_exporter:
    image: quay.io/prometheus/node-exporter:v1.10.2
    restart: no
    profiles:
      - metrics
    container_name: node_exporter

  grafana:
    image: grafana/grafana-enterprise:12.1
    container_name: grafana
    restart: no
    profiles:
      - metrics
    environment:
      - GF_SERVER_HTTP_PORT=3333
    ports:
      - '3333:3333'
    volumes:
      - grafana-storage:/var/lib/grafana
      - ./grafana/provisioning:/etc/grafana/provisioning
    depends_on:
      - prometheus

volumes:
  grafana-storage:
