name: 'dcss-api'

services:
  app:
    restart: on-failure:3
    environment:
      - TWITCH_SECRET
      - BUYMEACOFFEE_TOKEN
    build:
      context: ../../
      dockerfile: ./apps/api/Dockerfile
    ports:
      - '1444:1444'
      - '5555:5555'
    depends_on:
      postgres:
        condition: service_healthy
    volumes:
      - /app-volume:/usr/src/app/apps/api/logfiles

  postgres:
    container_name: postgres16
    restart: on-failure:3
    image: postgres:16
    ports:
      - '5432:5432'
    volumes:
      - postgres16-volume:/var/lib/postgresql/data
    environment:
      - POSTGRES_PASSWORD=postgres
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U postgres']
      interval: 1s
      timeout: 5s
      retries: 15
    shm_size: '1gb'
    command:
      - 'postgres'
      - '-c'
      - 'random_page_cost=1.1'
      - '-c'
      - 'max_wal_size=8GB'
      - '-c'
      - 'min_wal_size=2GB'
      - '-c'
      - 'temp_file_limit=20GB'
      - '-c'
      - 'wal_buffers=16MB'
      - '-c'
      - 'effective_io_concurrency=200'
      - '-c'
      - 'bgwriter_delay=50ms'
      - '-c'
      - 'bgwriter_lru_maxpages=200'
      - '-c'
      - 'shared_buffers=2GB'
      - '-c'
      - 'work_mem=32MB'
      - '-c'
      - 'maintenance_work_mem=256MB'
      - '-c'
      - 'effective_cache_size=3GB'
      - '-c'
      - 'default_statistics_target=100'
      - '-c'
      - 'checkpoint_timeout=15min'
      - '-c'
      - 'checkpoint_completion_target=0.9'

  prometheus:
    image: prom/prometheus:v3.6.0
    restart: no
    ports:
      - '9090:9090'
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml:ro
    depends_on:
      - node_exporter

  node_exporter:
    image: quay.io/prometheus/node-exporter:v1.10.2
    container_name: node_exporter
    restart: on-failure:3
    command:
      - '--path.rootfs=/host'
      - '--collector.systemd'
      - '--collector.processes'
    ports:
      - '9100:9100'
    volumes:
      - '/:/host:ro,rslave'

  grafana:
    image: grafana/grafana-enterprise:12.1
    container_name: grafana
    restart: on-failure:3
    environment:
      - GF_SERVER_HTTP_PORT=3333
    ports:
      - '3333:3333'
    volumes:
      - grafana-storage:/var/lib/grafana
      - ./grafana/provisioning:/etc/grafana/provisioning

volumes:
  app-volume:
  postgres16-volume:
  grafana-storage:
